#background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: $primary_background_color;
    transition: all 0.5s;
    // filter: blur(100px) saturate(150%);
    #background_image{
        margin: 30vh 0px 0px 75vw;
        z-index: -1;
        height: 100vh;
        // filter: blur(10px);
        animation: rotate 30s linear infinite;
        animation-play-state: paused;
    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(359deg);
        }
    }
}
#background:hover{
    #background_image{
        animation-play-state: running;
    }
}     

@media (max-width: 1024px) {
    #background{
        #background_image{
            // margin: -20vh 0px 0px -10vw;
            // margin-top: 60vh;
            margin-left: 0px;
        }
    }
}

// @media (max-width: 768px) {
//     #background{
//         #background_image{
//             // margin-top: 75vh;
//         }
//     }
// }