.contact_page{
    position: relative;
    z-index: 2;
    display: grid;
    padding: 2rem;
    grid-template-columns: 3fr 1fr;
    padding: 10vh 10vh;
    .contact_page_form{
        position: relative;
        // border: 3px solid black;
        // padding: 2.5rem;
        font-weight: 500;
        font-size: 2rem;
        font-family: $primary_font;
        color: $primary_text_color;
        // gap: 2rem;
        input, textarea, button{
            margin-bottom: 2rem;
            display: block;
            background-color: transparent;
            width: 100%;
            border-bottom: 3px solid $primary_text_color;
        }
        button{
            border: none;
            height: auto;
            width: auto;
            background-color: $primary_color;
            color: $primary_text_color;
            padding: 0.75rem 2rem 0.75rem 2rem;
            text-align: center;
            border-radius: 2rem;
            font-weight: 700;
        }
    }
    .logo{
        // padding: 3rem;
        display: flex;
        align-items: center;
        flex-flow: column;
        .logo_image{
            // padding: 3rem;
            img{
                height: 50vh;
            }
        }
        .prefooter_logo_text{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            h6{
                font-size: 4rem;
                font-weight: 600;
                color: $primary_text_color;
            }
            p{
                font-size: 1.75rem;
                font-weight: 600;
                color: $primary_text_color;
            }
        }
    }
}

@media (max-width: 1024px) {
    .contact_page{
        margin-top: 10vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        padding: 0px 5vw 0px 5vw;
        .contact_page_form{}
        .logo{
            margin-top: 2vh;
            .logo_image{
                img{
                    height: 20vh;
                }
            }
            .prefooter_logo_text{
                h6{
                    font-size: 2rem;
                }
            }
        }
    }
}
  