.footer {
    // background-color: #f2f2f2;
    padding: 10vh 10vh 0 10vh;
    text-align: center;
  
    .footer-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;
  
      &:first-child {
        .copyright {
          font-size: 1.5rem; // 24px in rems
        }
      }
  
      .social-icons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        p.digital-resellers {
          margin-right: auto;
        }
  
        .social-links a {
          margin: 0 10px;
        }
      }
  
      .address {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-basis: 100%;
      }
    }
  
    .divider {
      width: 100%;
      height: 2px;
      background-color: #ccc;
      margin: 20px 0;
    }
  
    .footer-links a {
      margin-right: 20px;
    }
  
    @media (max-width: 768px) {
      .footer-row {
        flex-direction: column;
  
        .social-links a {
          margin: 5px;
        }
  
        .footer-links a {
          margin-right: 10px;
        }
      }
    }
  }
  