.hero_section{
    position: relative;
    z-index: 1;
    height: 100vh;
    padding: 0px 10vh;
    margin-top: 10vh;
    display: flex;
    .hero_text{
        flex-basis: 50%;
        h1{
            position: relative;
            font-size: 72px;
            font-weight: 600;
            font-family: 'Inter';
            span{
                width: 60vw;
                transform-origin: top left;
                font-family: 'Inter';
                display: block;
                mix-blend-mode: difference;
            }
        }
        p{
            margin-top: 20px;
            width: 40vw;
            font-size: 20px;
            font-weight: 400;
        }
        .CTA{
            display: flex;
            // align-items: center;
            gap: 20px;
            a{
                padding: 1rem 3rem 1rem 3rem;
                font-size: 1.25rem;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                text-decoration: none;
            }
            .CTA_Button{
                background-color: $primary_color;
                border: 3px solid $primary_color;
            }
            .CTA_Secondary{
                // background-color: $secondary_background_color;
                border: 3px solid $primary_text_color;
            }
        }
        .contact_details{
            margin-top: 30vh;
            display: flex;
            align-items: center;
            gap: 20px;
            p{
                width: 11rem;
                // background-color: white;
                font-weight: 500;
            }
            .line{
                height: 3px;
                width: 50px;
                background-color: $primary_text_color;
            }
        }
    }
    .hero_logo{
        flex-basis: 50%;
        position: fixed;
        transform: translate(100%, -5%);
        img{
            transition: all 1s;
            height: 1200px;
            // width: 500px;
            transform-origin: center;
            animation: rotate_logo 25s linear infinite;
            animation-play-state: paused;
        }
        @keyframes rotate_logo {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(359deg);
            }
        }
    }
    .hero_logo:hover{
        img{
            animation-play-state: running;
        }
    }
}

@media (max-width: 768px) {
    .hero_section{
        height: 80vh;
        padding: 0px 5vw 0px 5vw;
        .hero_text{
            h1{
                font-size: 2.5rem;
                font-weight: 800;
                span{
                    width: 90%;
                }
            }p{
                font-size: 16px;
                width: 90%;
            }
            .CTA{
                width: 90vw;
                // justify-content: flex-start;
                flex-direction: column;
                // flex-basis: 50%;
            }
            .contact_details{
                display: none;
            }
        }
        .hero_logo {
            display: none;
        }
    }
}
  