.mobile_menu{
    transition: all 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: fixed;
    background-color: $secondary_color;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 100;
    .icons{
        display: flex;
        // align-items: center;
        justify-content: space-between;
        .logo{
            padding: 1rem;
            position: relative;
            z-index: 5;
            // margin-left: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            .icon{
                img{
                    height: 3rem;
                    animation: rotate 5s linear infinite;
                    animation-play-state: paused;
                }
            }
            a{
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
        .close_button{
            margin-right: 1rem;
            height: 3rem;
            width: 3rem;
            .icon{
                padding: 1rem;
                img{
                    height: 2rem;
                }
            }
        }
        .logo:hover{
            .icon img{
                animation-play-state: running;
            }
        }
        @keyframes rotate {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(359deg);
            }
        }
    }
    .main_links{
        padding: 1rem;
        font-size: 4rem;
        font-weight: 600;
        a{
            color: $primary_text_color;

        }
    }
    .more_link{
        padding: 1rem;
        display: flex;
        // justify-content: space-between;
        .side_links{
            margin-right: 3rem;
        }
        a{
            display: block;
            color: $secondary_text_color;
            font-weight: 600;
        }
    }
}