.products_section{
    position: relative;
    z-index: 2;
    padding: 10vh 10vh;
    h2{
        font-size: 9rem;
        font-weight: 300;
        font-family: 'Inter';
        margin-bottom: 50px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        .product{
            padding: 20px;
            // border-radius: 20px;
            transition: all 0.5s;
            border-bottom: 3px solid $primary_text_color;
            gap: 20px;
            .images{
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    transition: all 0.5s ease-in-out;
                    transform: scale(1.1);
                    width: 100%;
                }
            }
            .product_name{
                margin-top: 30px;
                font-size: 24px;
                font-weight: 600;
            }
            .product_description{
                margin-top: 20px;
                font-size: 16px;
            }
            .CTA{
                display: flex;
                align-items: center;
                gap: 20px;
                a{
                    padding: 0.5rem 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    text-decoration: none;
                }
                .CTA_Button{
                    border-radius: 50px;
                    background-color: $primary_color;
                }
                .CTA_Secondary{
                    border-radius: 50px;
                    background-color: $primary_color;
                }
            }
        }
        .product:hover{
            background-color: $primary_color;
            .images{
                img{
                    transform: scale(1);
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    .products_section{
        padding: 0px 5vw 0px 5vw;
        h2 {
            font-size: 2rem;
        }
        .products{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            gap: 30px;
        }
    }
}
  