html.has-scroll-smooth 
{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: $primary_text_color;
    font-family: Helvetica, sans-serif;
}
main{
    overflow: hidden;
}
a{
    text-decoration: none;
    color: $primary_text_color;
}

body{
    transition: all 0.5s ease;
    overflow-x: hidden;
    background-color: $primary_background_color;
}
body::-webkit-scrollbar{
    width: 3px;
}