.services_page{
    margin: none;
    // padding: none;
    .hero_section{
        margin-top: 40vh;
        // padding: 10vh 0px;
        .hero_text{
            h1{
                span{

                    font-size: 10rem;
                }
            }
        }
    }
    .services{
        .services_accordian{
            .accordian_item{
                .accordian_item_title{
                    h3{
                    }
                    img{
                    }
                }
                ul{
                    grid-template-columns: 1fr 1fr 1fr;
                    max-height: 200vh;
                    li{
                        img{
                        }
                        h4{
                        }
                        p{
                        }
                    }
                }
            }
            .accordian_item:hover{
                max-height: 200vh;
            }
        }
    }
}

@media (max-width: 768px) {
    .services_page{
        .hero_section{
            .hero_text{
                h1{
                    margin-top: 20vh;
                    span{
                        font-size: 2rem;
                    }
                }
            }
        }
        .services{
            .services_accordian{
                .accordian_item{
                    ul{
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                        max-height: 200vh;
                    }
                }
            }
        }
    }
}