.services{
    position: relative;
    z-index: 2;
    margin-top: 3rem;
    padding: 10vh 10vh;
    // background-color: darkolivegreen;
    h2{
        font-size: 144px;
        font-family: 'Inter';
        margin-bottom: 50px;
        font-weight: 300;
    }
    .services_accordian{
        // margin-left: -32px;
        // padding: 20px 0px 0px 0px;
        list-style-type: none;
        li{
            // margin: 30px 0px;
            border-bottom: 2px solid $primary_text_color;
            .accordian_item_title{
                padding: 2rem 3rem 1.5rem 3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .service_head{
                    font-size: 2rem;
                    font-weight: 600;
                    font-family: $secondary_font;
                }
                img{
                    height: 36px;
                }
            }
            ul{
                transition: all 0.5s ease;
                list-style-type: none;
                display: grid;
                margin: 0px 2.5rem 0px 3.5rem;
                max-height: 0px;
                overflow: hidden;
                // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto auto;
                gap: 20px;
                li{
                    border: none;
                    margin-bottom: 2rem;
                    img{
                      height: 4rem;
                      margin-bottom: 0.5rem;
                    }
                    h4{
                        margin: 5px 0px 10px 0px;
                        font-size: 1.25rem;
                        font-weight: 600;
                        font-family: $secondary_font;
                    }
                    p{
                        font-size: 20px;
                        color: $secondary_text_color;
                    }
                  }
            }
            .accordion-item.open {
              max-height: 2000px; /* Adjust this value based on your content height */
            }
            .accordian_item_container{
              transition: all 0.5s;
              
            }
            .closed{
              height: 0px;
              opacity: 0;
            }
        }
        li:hover{
            ul{
                max-height: 35vh;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
}
@media (max-width: 768px) {
    .services {
      // padding: 5vh 5vh;
      h2 {
        font-size: 5rem;
        font-weight: 600;
      }
      .services_accordian {
        margin-left: -32px;
        li {
          margin: 20px 0px;
          .accordian_item_title {
            padding: 10px;
            .service_head {
              font-size: 24px;
            }
            img {
              height: 24px;
            }
          }
          ul {
            margin: 0px;
            // padding: 0px;
            grid-template-columns: auto;
            grid-template-rows: auto;
            gap: 10px;
            li {
              margin: 0px;
              img{
                height: 2rem;
              }
              h4 {
                font-size: 18px;
              }
              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .services {
        padding: 0px 5vw 0px 5vw;
      h2 {
        font-size: 2rem;
      }
      .services_accordian {
        li {
          // .accordian_item_title {
          //   // padding: 10px 3vh 10px 3vh;
          //   // margin-left: -3rem;
          // }
          ul{
            li{
              margin: none;
            }
          }
        }
        li:hover ul{
          max-height: 100vh;
        }
      }
    }
  }
  