.dark_theme{
    --primary_accent_color: #76C04E;
    --second_accent_color: #589943;
    --ternary_accent_color: #417035;

    --primary_color: #76C04E;
    --secondary_color: #589943;
    --ternary_color: #417035;
    --primary_text_color: #ffffff;
    --secondary_text_color: #f5f5f5;
    --ternary_text_color: #c5c5c5;
    --primary_background_color: #161616;
    --secondary_background_color: #0a0a0a;
    --ternary_background_color: #000000;
}

.accordian_item ul li img, .accordian_item_title img{
    filter: invert(1);
}