* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: var(--primary_text_color);
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary_text_color);
}

body {
  transition: all 0.5s ease;
  overflow-x: hidden;
  background-color: var(--primary_background_color);
}

body::-webkit-scrollbar {
  width: 3px;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
}
nav .logo {
  position: relative;
  z-index: 4;
  margin-left: 10vh;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .logo .icon img {
  height: 3rem;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}
nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
}
nav .logo:hover .icon img {
  animation-play-state: running;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
nav .menu {
  z-index: 2;
  position: relative;
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}
nav .menu .links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .menu .links a:nth-last-child(1) {
  display: none;
}
nav .menu .links:nth-last-child(1) {
  display: none;
}
nav .buttons {
  z-index: 3;
  margin-right: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .buttons .dark_theme_switch, nav .buttons .menu_toggle, nav .buttons .contact_nav_CTA {
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .buttons .dark_theme_switch img, nav .buttons .menu_toggle img, nav .buttons .contact_nav_CTA img {
  height: 1.5rem;
}
nav .buttons .contact_nav_CTA {
  height: auto;
  width: auto;
  background-color: darkolivegreen;
  padding: 0.75rem 2rem 0.75rem 2rem;
  text-align: center;
  border-radius: 2rem;
  font-weight: 700;
}
nav .buttons .menu_toggle {
  display: none;
}

@media (max-width: 992px) {
  nav .logo {
    margin-left: 5vw;
  }
  nav .menu {
    transition: all 0.5s ease-in;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: black;
    position: absolute;
    top: 0px;
  }
  nav .menu .links {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  nav .menu .links a {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    border: 3px solid white;
  }
  nav .menu .links a:nth-last-child(1) {
    display: block;
    grid-column: 1/3;
  }
  nav .menu .links a:hover {
    background-color: darkolivegreen;
    color: black;
    font-weight: 800;
    border: none;
  }
  nav .menu .links:nth-last-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  nav .menu .links:nth-last-child(1) a {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
  }
  nav .menu .links:nth-last-child(1) a:nth-last-child(1) {
    display: block;
    grid-column: 2/3;
  }
  nav .buttons {
    margin-right: 5vw;
  }
  nav .buttons .menu_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .buttons .contact_nav_CTA {
    display: none;
  }
}
.hero_section {
  height: 100vh;
  padding: 0px 10vh;
  margin-top: 10vh;
  display: flex;
}
.hero_section .hero_text {
  flex-basis: 50%;
}
.hero_section .hero_text h1 {
  font-size: 84px;
  font-weight: 600;
  width: 60vw;
  font-family: "Montserrat";
}
.hero_section .hero_text h1 span {
  font-family: "Montserrat";
}
.hero_section .hero_text p {
  margin-top: 20px;
  width: 40vw;
  font-size: 20px;
  font-weight: 400;
}
.hero_section .hero_text .CTA {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero_section .hero_text .CTA a {
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.25rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-decoration: none;
}
.hero_section .hero_text .CTA .CTA_Button {
  background-color: var(--primary_color);
}
.hero_section .hero_text .CTA .CTA_Secondary {
  background-color: var(--secondary_background_color);
}
.hero_section .hero_text .contact_details {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero_section .hero_text .contact_details p {
  width: 11rem;
  font-weight: 500;
}
.hero_section .hero_text .contact_details .line {
  height: 3px;
  width: 50px;
  background-color: white;
}
.hero_section .hero_logo {
  flex-basis: 50%;
  position: fixed;
  transform: translate(100%, -5%);
}
.hero_section .hero_logo img {
  transition: all 1s;
  height: 1200px;
  transform-origin: center;
  animation: rotate_logo 25s linear infinite;
  animation-play-state: paused;
}
@keyframes rotate_logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.hero_section .hero_logo:hover img {
  animation-play-state: running;
}

@media (max-width: 768px) {
  .hero_section {
    height: 80vh;
    padding: 0px 5vw 0px 5vw;
  }
  .hero_section .hero_text h1 {
    font-size: 32px;
    font-weight: 600;
  }
  .hero_section .hero_text p {
    font-size: 16px;
    width: 90%;
  }
  .hero_section .hero_logo {
    display: none;
  }
}
.services {
  position: relative;
  z-index: 2;
  padding: 10vh 10vh;
}
.services h2 {
  font-size: 144px;
  font-family: "Montserrat";
  margin-bottom: 50px;
}
.services .services_accordian {
  margin-left: -32px;
  list-style-type: none;
}
.services .services_accordian li {
  cursor: pointer;
  border-bottom: 2px solid white;
}
.services .services_accordian li .accordian_item_title {
  padding: 10px 5vh 10px 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .services_accordian li .accordian_item_title .service_head {
  font-size: 42px;
  font-weight: 500;
}
.services .services_accordian li .accordian_item_title img {
  height: 36px;
  filter: invert(1);
}
.services .services_accordian li ul {
  transition: all 0.5s ease;
  list-style-type: none;
  display: grid;
  margin: 0px 2.5rem 0px 3.5rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
}
.services .services_accordian li ul li {
  border: none;
}
.services .services_accordian li ul li h4 {
  margin: 5px 0px 10px 0px;
  font-size: 24px;
  font-weight: 600;
}
.services .services_accordian li ul li p {
  font-size: 20px;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .services {
    padding: 5vh 5vh;
  }
  .services h2 {
    font-size: 48px;
  }
  .services .services_accordian li {
    margin: 20px 0px;
  }
  .services .services_accordian li .accordian_item_title {
    padding: 10px 2.5vh 10px 2.5vh;
  }
  .services .services_accordian li .accordian_item_title .service_head {
    font-size: 24px;
  }
  .services .services_accordian li .accordian_item_title img {
    height: 24px;
  }
  .services .services_accordian li ul {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
  }
  .services .services_accordian li ul li h4 {
    font-size: 18px;
  }
  .services .services_accordian li ul li p {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .services {
    padding: 0px 5vw 0px 5vw;
  }
  .services h2 {
    font-size: 2rem;
  }
  .services .services_accordian li .accordian_item_title {
    padding: 10px 3vh 10px 3vh;
  }
}
.clients {
  position: relative;
  z-index: 2;
  padding: 10vh 10vh;
}
.clients h2 {
  font-size: 144px;
  font-family: "Montserrat";
  margin-bottom: 50px;
  font-weight: 300;
}
.clients .brands {
  display: grid;
  gap: 2rem;
  gap: 30px;
}
.clients .brands .brand {
  padding: 50px;
  border-bottom: 3px solid white;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients .brands .brand .client_intro h4 {
  font-size: 42px;
  font-weight: 700;
}
.clients .brands .brand .client_intro p {
  font-size: 20px;
  color: whitesmoke;
  width: 30vw;
}
.clients .brands .brand .client_intro a {
  margin-left: -0.1rem !important;
  border-radius: 20px;
  color: white;
  background-color: darkolivegreen;
  font-weight: 600;
  margin-left: 2rem;
  padding: 0.75rem 2.5rem 0.75rem 2.5rem;
}
.clients .brands .brand img {
  height: 15rem;
}

@media (max-width: 768px) {
  .clients {
    padding: 5vh 5vh;
  }
  .clients h2 {
    font-size: 48px;
  }
  .clients .brands {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
  }
  .clients .brands .brand {
    padding: 30px;
    border-radius: 30px;
  }
  .clients .brands .brand h4 {
    font-size: 24px;
  }
  .clients .brands .brand p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .clients {
    padding: 0px 5vw 0px 5vw;
  }
  .clients h2 {
    font-size: 2rem;
  }
  .clients .brands {
    gap: 40px;
  }
  .clients .brands .brand {
    padding: 40px;
    border-radius: 20px;
  }
  .clients .brands .brand h4 {
    font-size: 36px;
  }
  .clients .brands .brand p {
    font-size: 20px;
  }
}
.products_section {
  position: relative;
  z-index: 2;
  padding: 10vh 10vh;
}
.products_section h2 {
  font-size: 144px;
  font-family: "Montserrat";
  margin-bottom: 50px;
}
.products_section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
}
.products_section .products .product {
  padding: 20px;
  border-radius: 20px;
  transition: all 0.5s;
  gap: 20px;
}
.products_section .products .product .images {
  height: 30vh;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_section .products .product .images img {
  transform: scale(1.3);
  height: 100%;
}
.products_section .products .product .product_name {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
}
.products_section .products .product .product_description {
  margin-top: 20px;
  font-size: 16px;
  color: whitesmoke;
}
.products_section .products .product .CTA {
  display: flex;
  align-items: center;
  gap: 20px;
}
.products_section .products .product .CTA a {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-decoration: none;
}
.products_section .products .product .CTA .CTA_Button {
  border-radius: 50px;
  background-color: black;
}
.products_section .products .product .CTA .CTA_Secondary {
  border-radius: 50px;
  background-color: black;
}
.products_section .products .product:hover {
  background-color: rgb(110, 138, 62);
}

@media (max-width: 1024px) {
  .products_section {
    padding: 0px 5vw 0px 5vw;
  }
  .products_section h2 {
    font-size: 2rem;
  }
  .products_section .products {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
  }
}
.pre_footer {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10vh 10vh;
}
.pre_footer .messages {
  position: relative;
}
.pre_footer .messages .message {
  padding: 50px;
  font-weight: 600;
  font-size: 36px;
  font-family: "Montserrat";
  margin-bottom: 50px;
  color: black;
}
.pre_footer .messages .message_from_us {
  border-radius: 60px 60px 60px 0px;
  background-color: darkolivegreen;
  color: black;
}
.pre_footer .messages .message_from_us_2 {
  margin-top: 20vh;
  border-radius: 0px 60px 60px 60px;
  background-color: darkolivegreen;
}
.pre_footer .messages .reply_from_them {
  margin-left: 10vh;
  right: 0px;
  padding: 50px;
  border-radius: 60px 60px 0px 60px;
  color: black;
  background-color: whitesmoke;
}
.pre_footer .messages .reply_from_them_2 {
  position: absolute;
  margin-left: 10vh;
  right: 0px;
  border-radius: 60px 0px 60px 60px;
  background-color: whitesmoke;
}
.pre_footer .logo {
  padding: 50px;
}
.pre_footer .logo .logo_image {
  background-color: darkolivegreen;
  padding: 50px;
}
.pre_footer .logo .logo_image img {
  height: 50vh;
  background-color: whitesmoke;
}
.pre_footer .logo h6 {
  font-size: 64px;
  color: white;
}

@media (max-width: 1024px) {
  .pre_footer {
    padding: 0px 5vw 0px 5vw;
  }
  .pre_footer .messages .message {
    font-size: 2rem;
  }
  .pre_footer .logo {
    display: none;
  }
}
footer {
  position: relative;
  z-index: 2;
  padding: 0px 10vh 0px 10vh;
}
footer h6 {
  font-size: 2rem;
  font-weight: 600;
}
footer p {
  font-size: 1rem;
}
footer .footer-row {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
footer .footer-row p {
  font-weight: 600;
  font-size: 1.25rem;
}
footer .footer-row .social-links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 2rem;
}
footer .footer-row .social-links a {
  font-weight: 600;
  font-size: 1rem;
}
footer .footer-row .footer-links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 1.25rem;
  font-weight: 600;
  font-size: 1rem;
}
footer .divider {
  height: 3px;
  background-color: white;
  margin-bottom: 1.5rem;
}

@media (max-width: 992px) {
  footer {
    padding: 5vw 0px 5vw 0px;
  }
  footer .footer-row {
    flex-direction: column;
  }
}
.about .hero_section {
  margin-top: 40vh;
}
.about .hero_section h1 {
  line-height: 154px;
  font-size: 144px;
  font-weight: 300;
}
.about .hero_section h1 span {
  font-weight: 700;
}
.about .hero_section .contact_details {
  margin-top: 20px;
}
.about .hero_section .hero_logo {
  position: fixed;
  transform: translate(100%, -25%);
}
.about .hero_logo {
  transform: translate(-15%, -20%);
}
.about .services h2 {
  font-size: 112px;
  font-weight: 300;
}
.about .clients .brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.about .clients .brands .icons icon {
  font-size: 2rem;
  margin-right: 10vh;
}
.about .clients .brands .brand {
  display: flex;
  flex-flow: column;
  background: linear-gradient(to bottom right, #38662B, #003200);
  gap: 10px;
  border-radius: 30px;
}
.about .clients .brands .brand img {
  margin-bottom: 10px;
  height: 20vh;
  width: 20vh;
  border-radius: 20px;
  background-color: whitesmoke;
}
.about .clients .brands .brand h4 {
  font-family: Arial, Helvetica, sans-serif;
}
.about .clients .brands .brand:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.about .clients .brands .brand:nth-child(1) img {
  height: 60vh;
  width: 60vh;
}
.about .clients .brands .brand:nth-child(2) {
  background: linear-gradient(to bottom right, #4F923A, #38662B);
}
.services_page {
  margin: none;
}
.services_page .hero_section {
  margin-top: 40vh;
}
.services_page .hero_section .hero_text h1 {
  font-size: 10rem;
}
.services_page .services .services_accordian .accordian_item {
  margin-bottom: 2rem;
}
.services_page .services .services_accordian .accordian_item .accordian_item_title {
  margin-bottom: 1rem;
}
.services_page .services .services_accordian .accordian_item .accordian_item_title h3 {
  font-size: 5rem;
}
.services_page .services .services_accordian .accordian_item .accordian_item_title img {
  transform: rotate(180deg, -90deg);
  padding: 2rem;
  border-radius: 100%;
  background-color: white;
  height: 7rem;
}
.services_page .services .services_accordian .accordian_item ul {
  padding-bottom: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px;
}
.services_page .services .services_accordian .accordian_item ul li img {
  padding: 1rem;
  height: 6rem;
  filter: invert(1);
}
.services_page .services .services_accordian .accordian_item ul li h4 {
  font-size: 2rem;
}
.services_page .services .services_accordian .accordian_item ul li p {
  font-size: 1rem;
  width: 35vw;
}/*# sourceMappingURL=main.css.map */