html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: var(--primary_text_color);
  font-family: Helvetica, sans-serif;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--primary_text_color);
}

body {
  transition: all 0.5s ease;
  overflow-x: hidden;
  background-color: var(--primary_background_color);
}

body::-webkit-scrollbar {
  width: 3px;
}

.loader {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.loader h6 {
  box-sizing: border-box;
  mix-blend-mode: difference;
  font-weight: 600;
  margin-left: 10vh;
  font-size: 10rem;
  font-family: "Inter";
}
.loader h6 .loader_text_charater {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 992px) {
  .loader h6 {
    margin: 5vw;
    font-size: 3rem;
  }
}
#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: var(--primary_background_color);
  filter: blur(100px) saturate(150%);
}
#background #background_image {
  margin: 10vh 0px 0px 50vw;
  z-index: -1;
  height: 150vh;
  filter: blur(10px);
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@media (max-width: 1024px) {
  #background #background_image {
    margin-left: 0px;
  }
}
.mobile_menu {
  transition: all 0.5s ease-in-out;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  position: fixed;
  background-color: var(--secondary_color);
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.mobile_menu .icons {
  display: flex;
  justify-content: space-between;
}
.mobile_menu .icons .logo {
  padding: 1rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mobile_menu .icons .logo .icon img {
  height: 3rem;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}
.mobile_menu .icons .logo a {
  font-size: 1.5rem;
  font-weight: 600;
}
.mobile_menu .icons .close_button {
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
}
.mobile_menu .icons .close_button .icon {
  padding: 1rem;
}
.mobile_menu .icons .close_button .icon img {
  height: 2rem;
}
.mobile_menu .icons .logo:hover .icon img {
  animation-play-state: running;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.mobile_menu .main_links {
  padding: 1rem;
  font-size: 4rem;
  font-weight: 600;
}
.mobile_menu .main_links a {
  color: var(--primary_text_color);
}
.mobile_menu .more_link {
  padding: 1rem;
  display: flex;
}
.mobile_menu .more_link .side_links {
  margin-right: 3rem;
}
.mobile_menu .more_link a {
  display: block;
  color: var(--secondary_text_color);
  font-weight: 600;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
}
nav .logo {
  position: relative;
  z-index: 5;
  margin-left: 10vh;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .logo .icon img {
  height: 3rem;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}
nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
}
nav .logo:hover .icon img {
  animation-play-state: running;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
nav .menu {
  z-index: 2;
  position: relative;
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}
nav .menu .links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .menu .links a {
  font-size: 1.1rem;
  font-weight: 500;
}
nav .menu .links a:nth-last-child(1) {
  display: none;
}
nav .menu .links:nth-last-child(1) {
  display: none;
}
nav .buttons {
  z-index: 5;
  margin-right: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .buttons .dark_theme_switch, nav .buttons .menu_toggle, nav .buttons .contact_nav_CTA {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--secondary_text_color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .buttons .dark_theme_switch img, nav .buttons .menu_toggle img, nav .buttons .contact_nav_CTA img {
  height: 1.5rem;
  filter: invert(1);
}
nav .buttons .contact_nav_CTA {
  height: auto;
  width: auto;
  background-color: var(--primary_color);
  color: var(--primary_text_color);
  padding: 0.75rem 2rem 0.75rem 2rem;
  text-align: center;
  border-radius: 2rem;
  font-weight: 700;
}
nav .buttons .menu_toggle {
  display: none;
}

@media (max-width: 992px) {
  nav .logo {
    margin-left: 5vw;
  }
  nav .menu {
    transition: all 0.5s ease-in;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    background-color: var(--secondary_background_color);
    position: fixed;
    left: 0px;
    top: 0px;
  }
  nav .menu .links {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  nav .menu .links a {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    border: 3px solid var(--primary_text_color);
  }
  nav .menu .links a:nth-last-child(1) {
    display: block;
    grid-column: 1/3;
  }
  nav .menu .links a:hover {
    background-color: darkolivegreen;
    color: var(--primary_background_color);
    font-weight: 800;
    border: none;
  }
  nav .menu .links:nth-last-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  nav .menu .links:nth-last-child(1) a {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
  }
  nav .menu .links:nth-last-child(1) a:nth-last-child(1) {
    display: block;
    grid-column: 2/3;
  }
  nav .buttons {
    margin-right: 5vw;
  }
  nav .buttons .menu_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .buttons .contact_nav_CTA {
    display: none;
  }
}
.hero_section {
  position: relative;
  z-index: 1;
  height: 100vh;
  padding: 0px 10vh;
  margin-top: 10vh;
  display: flex;
}
.hero_section .hero_text {
  flex-basis: 55%;
}
.hero_section .hero_text h1 {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  font-family: "Inter";
}
.hero_section .hero_text h1 span {
  width: 60vw;
  transform-origin: top left;
  font-family: "Inter";
  mix-blend-mode: difference;
}
.hero_section .hero_text h1 #hero_dynamic_title {
  color: var(--secondary_color);
}
.hero_section .hero_text p {
  margin-top: 20px;
  width: 40vw;
  font-size: 20px;
  font-weight: 600;
}
.hero_section .hero_text .CTA {
  display: flex;
  gap: 20px;
}
.hero_section .hero_text .CTA a {
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.25rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-decoration: none;
}
.hero_section .hero_text .CTA .CTA_Button {
  background-color: var(--primary_color);
  border: 3px solid var(--primary_color);
}
.hero_section .hero_text .CTA .CTA_Secondary {
  border: 3px solid var(--primary_text_color);
}
.hero_section .hero_text .contact_details {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero_section .hero_text .contact_details p {
  width: 11rem;
  font-weight: 500;
}
.hero_section .hero_text .contact_details .line {
  height: 3px;
  width: 50px;
  background-color: var(--primary_text_color);
}
.hero_section .hero_logo {
  flex-basis: 50%;
  position: fixed;
  transform: translate(100%, -5%);
}
.hero_section .hero_logo #logo_background {
  transition: all 1s;
  height: 1200px;
  transform-origin: center;
  animation: rotate_logo 25s linear infinite;
  animation-play-state: paused;
}
@keyframes rotate_logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.hero_section .hero_logo:hover img {
  animation-play-state: running;
}

@media (max-width: 768px) {
  .hero_section {
    height: 80vh;
    padding: 0px 5vw 0px 5vw;
  }
  .hero_section .hero_text {
    z-index: 1;
  }
  .hero_section .hero_text h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .hero_section .hero_text h1 span {
    width: 90%;
  }
  .hero_section .hero_text p {
    font-size: 16px;
    width: 90%;
  }
  .hero_section .hero_text .CTA {
    width: 90vw;
    flex-direction: column;
  }
  .hero_section .hero_text .contact_details {
    display: none;
  }
  .hero_section .hero_logo {
    display: none;
  }
}
.services {
  position: relative;
  z-index: 2;
  margin-top: 3rem;
  padding: 10vh 10vh;
}
.services h2 {
  font-size: 144px;
  font-family: "Inter";
  margin-bottom: 50px;
  font-weight: 300;
}
.services .services_accordian {
  list-style-type: none;
}
.services .services_accordian li {
  border-bottom: 2px solid var(--primary_text_color);
}
.services .services_accordian li .accordian_item_title {
  padding: 2rem 3rem 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.services .services_accordian li .accordian_item_title .service_head {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Inter";
}
.services .services_accordian li .accordian_item_title img {
  height: 36px;
}
.services .services_accordian li ul {
  transition: all 0.5s ease;
  list-style-type: none;
  display: grid;
  margin: 0px 2.5rem 0px 3.5rem;
  max-height: 0px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.services .services_accordian li ul li {
  border: none;
  margin-bottom: 2rem;
}
.services .services_accordian li ul li img {
  height: 4rem;
  margin-bottom: 0.5rem;
}
.services .services_accordian li ul li h4 {
  margin: 5px 0px 10px 0px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Inter";
}
.services .services_accordian li ul li p {
  font-size: 20px;
  color: var(--secondary_text_color);
}
.services .services_accordian li .accordion-item.open {
  max-height: 2000px; /* Adjust this value based on your content height */
}
.services .services_accordian li .accordian_item_container {
  transition: all 0.5s;
}
.services .services_accordian li .closed {
  height: 0px;
  opacity: 0;
}
.services .services_accordian li:hover ul {
  max-height: 35vh;
}

@media (max-width: 768px) {
  .services h2 {
    font-size: 5rem;
    font-weight: 600;
  }
  .services .services_accordian {
    margin-left: -32px;
  }
  .services .services_accordian li {
    margin: 20px 0px;
  }
  .services .services_accordian li .accordian_item_title {
    padding: 10px;
  }
  .services .services_accordian li .accordian_item_title .service_head {
    font-size: 24px;
  }
  .services .services_accordian li .accordian_item_title img {
    height: 24px;
  }
  .services .services_accordian li ul {
    margin: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
  }
  .services .services_accordian li ul li {
    margin: 0px;
  }
  .services .services_accordian li ul li img {
    height: 2rem;
  }
  .services .services_accordian li ul li h4 {
    font-size: 18px;
  }
  .services .services_accordian li ul li p {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .services {
    padding: 0px 5vw 0px 5vw;
  }
  .services h2 {
    font-size: 2rem;
  }
  .services .services_accordian li ul li {
    margin: none;
  }
  .services .services_accordian li:hover ul {
    max-height: 100vh;
  }
}
.clients {
  position: relative;
  z-index: 2;
  padding: 10vh 10vh;
}
.clients h2 {
  font-size: 9rem;
  font-family: "Inter";
  margin-bottom: 2rem;
  font-weight: 300;
}
.clients .brands {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
.clients .brands .brand {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primary_color);
  transition: all 0.5s;
  overflow: hidden;
}
.clients .brands .brand .client_intro h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary_text_color);
}
.clients .brands .brand .client_intro p {
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--secondary_background_color);
}
.clients .brands .brand .client_intro a {
  margin-left: -0.1rem !important;
  border-radius: 20px;
  color: var(--secondary_text_color);
  background-color: var(--primary_color);
  font-weight: 600;
  margin-left: 2rem;
  padding: 0.75rem 2.5rem 0.75rem 2.5rem;
}
.clients .brands .brand img {
  height: 15rem;
}
.clients .brands .brand:hover {
  background-color: var(--primary_color);
}

@media (max-width: 768px) {
  .clients {
    margin-top: 10vh;
  }
  .clients h2 {
    font-size: 5rem;
    font-weight: 500;
  }
  .clients .brands .brand {
    flex-direction: column;
  }
  .clients .brands .brand .client_intro h4 {
    font-size: 1rem;
  }
  .clients .brands .brand .client_intro p {
    margin: 0px;
    font-size: 3rem;
  }
}
@media (max-width: 1024px) {
  .clients {
    padding: 0px 5vw 0px 5vw;
  }
  .clients h2 {
    font-size: 2rem;
  }
  .clients .brands {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .clients .brands .brand {
    padding: 2rem;
    width: auto;
    height: auto;
  }
  .clients .brands .brand h4 {
    font-size: 1rem;
  }
  .clients .brands .brand p {
    margin: none;
  }
}
.products_section {
  position: relative;
  z-index: 2;
  padding: 10vh 10vh;
}
.products_section h2 {
  font-size: 9rem;
  font-weight: 300;
  font-family: "Inter";
  margin-bottom: 50px;
}
.products_section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.products_section .products .product {
  display: block;
  padding: 20px;
  transition: all 0.5s;
  border-bottom: 3px solid var(--primary_text_color);
  gap: 20px;
}
.products_section .products .product .images {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_section .products .product .images img {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  width: 100%;
}
.products_section .products .product .product_name {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
}
.products_section .products .product .product_description {
  margin-top: 20px;
  font-size: 16px;
}
.products_section .products .product .CTA {
  display: flex;
  align-items: center;
  gap: 20px;
}
.products_section .products .product .CTA a {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-decoration: none;
}
.products_section .products .product .CTA .CTA_Button {
  border-radius: 50px;
  background-color: var(--primary_color);
}
.products_section .products .product .CTA .CTA_Secondary {
  border-radius: 50px;
  background-color: var(--primary_color);
}
.products_section .products .product:hover {
  background-color: var(--primary_color);
}
.products_section .products .product:hover .images img {
  transform: scale(1);
}

@media (max-width: 1024px) {
  .products_section {
    margin-top: 10vh;
    padding: 0px 5vw 0px 5vw;
  }
  .products_section h2 {
    font-size: 2rem;
  }
  .products_section .products {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
  }
}
.pre_footer {
  position: relative;
  z-index: 2;
  display: grid;
  padding: 2rem;
  grid-template-columns: 3fr 1fr;
  padding: 10vh 10vh;
}
.pre_footer .messages {
  position: relative;
}
.pre_footer .messages .message {
  border: 3px solid black;
  padding: 2.5rem;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Helvetica";
  color: var(--primary_text_color);
}
.pre_footer .messages .message form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}
.pre_footer .messages .message form input, .pre_footer .messages .message form textarea {
  display: block;
}
.pre_footer .messages .message_from_us {
  border-radius: 60px 60px 60px 0px;
  background-color: var(--primary_color);
  color: var(--primary_text_color);
}
.pre_footer .messages .message_from_us_2 {
  margin-top: 20vh;
  border-radius: 0px 60px 60px 60px;
  background-color: var(--primary_color);
}
.pre_footer .messages .reply_from_them {
  margin-left: 10vh;
  right: 0px;
  padding: 50px;
  border-radius: 60px 60px 0px 60px;
  background-color: var(--primary_background_color);
}
.pre_footer .messages .reply_from_them_2 {
  position: absolute;
  margin-left: 10vh;
  right: 0px;
  border-radius: 60px 0px 60px 60px;
  background-color: var(--primary_background_color);
}
.pre_footer .logo {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.pre_footer .logo .logo_image img {
  height: 50vh;
}
.pre_footer .logo .prefooter_logo_text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.pre_footer .logo .prefooter_logo_text h6 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary_text_color);
}
.pre_footer .logo .prefooter_logo_text p {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary_text_color);
}

@media (max-width: 1024px) {
  .pre_footer {
    margin-top: 10vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 0px 5vw 0px 5vw;
  }
  .pre_footer .messages .message {
    font-size: 1.5rem;
    padding: 2rem;
  }
  .pre_footer .messages .message_from_us_2 {
    margin-top: 13vh;
  }
  .pre_footer .logo {
    margin-top: 2vh;
  }
  .pre_footer .logo .logo_image img {
    height: 20vh;
  }
  .pre_footer .logo .prefooter_logo_text h6 {
    font-size: 2rem;
  }
}
footer {
  position: relative;
  z-index: 2;
  padding: 0px 10vh 0px 10vh;
}
footer h6 {
  font-size: 2rem;
  font-weight: 600;
}
footer p {
  font-size: 1rem;
}
footer .footer-row {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
footer .footer-row p {
  font-weight: 600;
  font-size: 1.25rem;
}
footer .footer-row .social-links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 2rem;
}
footer .footer-row .social-links a {
  font-weight: 600;
  font-size: 1rem;
}
footer .footer-row .footer-links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 1.25rem;
  font-weight: 600;
  font-size: 1rem;
}
footer .divider {
  height: 3px;
  background-color: var(--primary_text_color);
  margin-bottom: 1.5rem;
}

@media (max-width: 992px) {
  footer {
    margin-top: 10vh;
    padding: 0vw 5vw 0px 5vw;
  }
  footer .footer-row {
    flex-direction: column;
  }
}
.about .hero_section {
  margin-top: 40vh;
}
.about .hero_section h1 {
  line-height: 154px;
  font-size: 144px;
  font-weight: 300;
}
.about .hero_section h1 span {
  font-weight: 700;
}
.about .hero_section .contact_details {
  margin-top: 20px;
}
.about .hero_section .hero_logo {
  position: fixed;
  transform: translate(100%, -25%);
}
.about .hero_logo {
  transform: translate(-15%, -20%);
}
.about .services h2 {
  font-size: 112px;
  font-weight: 300;
}
.about .clients .brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.about .clients .brands .icons icon {
  font-size: 2rem;
  margin-right: 10vh;
}
.about .clients .brands .brand {
  display: flex;
  flex-flow: column;
  background: linear-gradient(to bottom right, #38662B, #003200);
  gap: 10px;
  border-radius: 30px;
}
.about .clients .brands .brand img {
  margin-bottom: 10px;
  height: 20vh;
  width: 20vh;
  border-radius: 20px;
  background-color: whitesmoke;
}
.about .clients .brands .brand h4 {
  font-family: Arial, Helvetica, sans-serif;
}
.about .clients .brands .brand:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.about .clients .brands .brand:nth-child(1) img {
  height: 60vh;
  width: 60vh;
}
.about .clients .brands .brand:nth-child(2) {
  background: linear-gradient(to bottom right, #4F923A, #38662B);
}
.services_page {
  margin: none;
}
.services_page .hero_section {
  margin-top: 40vh;
}
.services_page .hero_section .hero_text h1 span {
  font-size: 10rem;
}
.services_page .services .services_accordian .accordian_item ul {
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 200vh;
}
.services_page .services .services_accordian .accordian_item:hover {
  max-height: 200vh;
}

@media (max-width: 768px) {
  .services_page .hero_section .hero_text h1 {
    margin-top: 20vh;
  }
  .services_page .hero_section .hero_text h1 span {
    font-size: 2rem;
  }
  .services_page .services .services_accordian .accordian_item ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    max-height: 200vh;
  }
}
.contact_page {
  position: relative;
  z-index: 2;
  display: grid;
  padding: 2rem;
  grid-template-columns: 3fr 1fr;
  padding: 10vh 10vh;
}
.contact_page .contact_page_form {
  position: relative;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Helvetica";
  color: var(--primary_text_color);
}
.contact_page .contact_page_form input, .contact_page .contact_page_form textarea, .contact_page .contact_page_form button {
  margin-bottom: 2rem;
  display: block;
  background-color: transparent;
  width: 100%;
  border-bottom: 3px solid var(--primary_text_color);
}
.contact_page .contact_page_form button {
  border: none;
  height: auto;
  width: auto;
  background-color: var(--primary_color);
  color: var(--primary_text_color);
  padding: 0.75rem 2rem 0.75rem 2rem;
  text-align: center;
  border-radius: 2rem;
  font-weight: 700;
}
.contact_page .logo {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.contact_page .logo .logo_image img {
  height: 50vh;
}
.contact_page .logo .prefooter_logo_text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.contact_page .logo .prefooter_logo_text h6 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary_text_color);
}
.contact_page .logo .prefooter_logo_text p {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary_text_color);
}

@media (max-width: 1024px) {
  .contact_page {
    margin-top: 10vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 0px 5vw 0px 5vw;
  }
  .contact_page .logo {
    margin-top: 2vh;
  }
  .contact_page .logo .logo_image img {
    height: 20vh;
  }
  .contact_page .logo .prefooter_logo_text h6 {
    font-size: 2rem;
  }
}
.privacy_policy .hero_section .hero_text h1 {
  font-size: 7.5rem;
}
.privacy_policy .services h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}/*# sourceMappingURL=main.css.map */